*{margin:0;
    padding:0;
    font-family: 'Times New Roman', 'Times New Roman', Times, serif;}
    #nav h1{
        text-transform: uppercase;
        color: blue;
        text-align: center;
        background-color:bisque
    }
    #inner{
        font-size: 10px;
    }
    #outer{
        font-size: 25px;
    }

    .material-symbols-outlined {
      font-variation-settings:
      'FILL' 0,
      'wght' 400,
      'GRAD' 0,
      'opsz' 24;
    }
    