*{
    margin:0;
    padding:0;
}
header {
    background-color:rgb(198, 220, 231);
}
nav a{
    text-decoration:none;
}
nav {
    display: flex;
    align-items:center ;
    height: 30px;
    display: flex;
    justify-content: space-around;}
#box{
    border:5px solid;
    display: flex;
    justify-content:center;
    align-items: center;
}
.box {
    box-sizing: border-box;
    margin:6px;
    height: 120px;
    width:180px; background-color: beige;
    border: 3px solid black;
    border-radius: 5px; text-align: center; text-transform: uppercase;
    font-size:xx-large;
    display: inline-block;
}
.container {
    border: 5px solid black;
    display:flex;
    margin-top: 6px;
}
#box3{
    display:flex;
    flex-shrink: 5;
    flex-grow: 3;

}
@media screen and (max-width: 300px) {
    #John{
        background-color: green;
        border: 5px solid;
        height: 50px;
        width: 50px;
        margin: 5px;
    }    }
@media screen and (min-width: 400px) {
    #John{
        background-color: blue;
        border: 5px solid;
        height: 50px;
        width: 50px;
        margin: 5px;
    }    
}
@media screen and (min-width: 300px) and (max-width: 400px) {
    #John{
        background-color: red;
        border: 5px solid;
        height: 50px;
        width: 60px;
        margin: 5px;
    }    
}

